<%= form_for(@citum) do |f| %>
  <% if @citum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@citum.errors.count, "error") %> prohibited this citum from being saved:</h2>

      <ul>
      <% @citum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :consultorio_id %><br>
    <select class="select" name="citum[consultorio_id]">
        <option value=""> Seleccione... </option>
        <% @consultorios.each do |consultorio| %>
          <option value="<%= consultorio.id %>">
            <%= consultorio.nombre %>
          </option>
        <% end %>
    </select>
  </div>
  <div class="field">
    <%= f.label :paciente_id %><br>
    <select class="select" name="citum[paciente_id]">
        <option value=""> Seleccione... </option>
        <% @pacientes.each do |paciente| %>
          <option value="<%= paciente.id %>">
            <%= paciente.nombres %> <%= paciente.apellidos %>
          </option>
        <% end %>
    </select>
  </div>
  <div class="field">
    <%= f.label :medico_id %><br>
    <select class="select" name="citum[medico_id]">
        <option value=""> Seleccione... </option>
        <% @medicos.each do |medico| %>
          <option value="<%= medico.id %>">
            <%= medico.nombres %> <%= medico.apellidos %>
          </option>
        <% end %>
    </select>
  </div>
  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.date_select :fecha %>
  </div>
  <div class="field">
    <%= f.label :hora_inicio %><br>
    <%= f.time_select :hora_inicio %>
  </div>
  <div class="field">
    <%= f.label :hora_fin %><br>
    <%= f.time_select :hora_fin %>
  </div>
  <div class="field">
    <%= f.label :motivo %><br>
    <%= f.text_field :motivo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
