<%= form_for(@consultorio) do |f| %>
  <% if @consultorio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@consultorio.errors.count, "error") %> prohibited this consultorio from being saved:</h2>

      <ul>
      <% @consultorio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :codigo %><br>
    <%= f.number_field :codigo %>
  </div>
  <div class="field">
    <%= f.label :ubicacion %><br>
    <%= f.text_field :ubicacion %>
  </div>
  <div class="field">
    <%= f.label :tipo_consultorio_id %><br>
    <select class="select" name="consultorio[tipo_consultorio_id]">
        <option value=""> Seleccione... </option>
        <% @tipos_consultorio.each do |tipo_consultorio| %>
          <option value="<%= tipo_consultorio.id %>">
            <%= tipo_consultorio.nombre %>
          </option>
        <% end %>
    </select>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
